/Car.class
/Employee.class
/Esercizi2.class
/Garage.class
/Motocycle.class
/MultipleQuestion.class
/NumericQuestion.class
/Person.class
/Question.class
/QuestionYesNo.class
/Stagista.class
/Vehicle.class
/Main.class
